<!DOCTYPE html>

<title>Pokedex</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@375&display=swap" rel="stylesheet">

  <main class="content">

    <header>

      {% block header %}{% endblock %}

    </header>

   {% for message in get_flashed_messages() %}

    <div class="flash">{{ message }}</div>

  {% endfor %}

  {% block content %}{% endblock %}

</main>