body {
    background-color: rgb(252, 244, 163);
    font-family: 'Akshar', sans-serif;
}

p {
    color: rgb(0, 0, 83)
}

ul {
    color: rgb(0, 0, 83)
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1 {
    color: rgb(104, 10, 10);
    text-align: center;
}

h2 {
    text-transform: capitalize;
    color: rgb(97, 12, 4)
}

input[type="text"] {
    margin-top: 15px;
    width: 400px;
}