body {
    font-family: 'Akshar', sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1 {
    color: rgb(104, 10, 10);
    text-align: center;
}

h2 {
    text-transform: capitalize;
}

input[type="text"] {
    margin-top: 15px;
    width: 400px;
}